<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNS Login Page</title>

    <script src="/static/js/kakaoSDK.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="/static/js/signin_kakao.js"></script>
</head>
<body>
    Working...
    <input type="hidden" class="requestURL" value="{{.requestURL}}"/>
</body>
</html>